@model NedShape.UI.Models.SignUpViewModel

@using NedShape.Core.Enums;
@using NedShape.Data.Models;
@using NedShape.UI.Models;

<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Index.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/index.js"></script>



<body class="col-md-12">

    <div class="page-top col-md-12">
        <div class="center-text">
            <span class="lets-text">LET'S</span><br>
            <span class="lets-text">GET</span><br>
            <span class="moving-text">MOVING</span><br>
        </div>

        <video autoplay muted loop id="backgroud-video" src="http://video.wixstatic.com/video/11062b_70fec86f07db485ca1b232ba65682e20/720p/mp4/file.mp4"> </video>
    </div>

    <div class="col-md-12 banner-top-background">
        <div class="banner-top col-md-12">
            <h4 class="banner-text" style="line-height:1.2em; text-align:center;">
                "WHAT SEEMS IMPOSSIBLE TODAY WILL SOON BECOME YOUR WARM-UP"
            </h4>
        </div>
    </div>

    <div class="col-md-12 about-us-row">
        <div class="about-img-div col-lg-6 col-sm-6">
            <img class="front-image" src="https://static.wixstatic.com/media/ebb861_12ec071966d44aa2b429ad85ef9fd8d4~mv2_d_6000_4004_s_4_2.jpg/v1/fill/w_716,h_512,al_c,q_85,usm_0.66_1.00_0.01/ebb861_12ec071966d44aa2b429ad85ef9fd8d4~mv2_d_6000_4004_s_4_2.webp">
        </div>

        <div class="col-lg-6 col-sm-6 about-nedshape">
            <span class="text-about">ABOUT US</span><br>
            <span class="text-nedshape-green">nedshape</span>

            <div data-packed="true" style="width: 375px; pointer-events: none;" class="txtNew" id="comp-ipe107gd">
                <p class="font_8" style="line-height:1.6em;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>

                <p class="font_8" style="line-height:1.6em;">​</p>

                <p class="font_8" style="line-height:1.6em;">This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company.</p>
            </div>
        </div>
    </div>

    @*
        <div class="col-lg-12 col-md-12 workout-div">

            <div class="workout-floating-text">
                <span class="text-success-white">CHOOSE YOUR</span><br>
                <span class="text-success-white">WORKOUT</span><br>
                <div class="paragraph-text">
                    <span>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</span>
                </div>



                <div class="col-lg-4 col-sm-4 option-icon">
                    <div class="option-number">
                        <span class="">1</span>
                    </div>
                    <div class="option-text-div">
                        <a class="option-text" href=""><span>TRX WORKOUT</span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 option-icon">
                    <div class="option-number">
                        <span class="">2</span>
                    </div>
                    <div class="option-text-div">
                        <a class="option-text" href=""><span>POSTURE CORRECTION</span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 option-icon">
                    <div class="option-number">
                        <span class="">3</span>
                    </div>
                    <div class="option-text-div">
                        <a class="option-text" href=""><span>MUSSCLE TONE</span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 option-icon">
                    <div class="option-number">
                        <span class="">4</span>
                    </div>
                    <div class="option-text-div">
                        <a class="option-text" href=""><span>WEIGHT LOSS</span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 option-icon">
                    <div class="option-number">
                        <span class="">5</span>
                    </div>
                    <div class="option-text-div">
                        <a class="option-text" href=""><span>CARDIO FITNESS</span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 option-icon">
                    <div class="option-number">
                        <span class="">6</span>
                    </div>
                    <div class="option-text-div">
                        <a class="option-text" href=""><span>CORE STRENGTH</span></a>
                    </div>
                </div>
            </div>


            <img class="gym-image" src="https://static.wixstatic.com/media/1e47b2_b5556ecfae2f4690aa916577faa99062.jpg/v1/fill/w_1905,h_905,al_c,q_85,usm_0.66_1.00_0.01/1e47b2_b5556ecfae2f4690aa916577faa99062.webp">

        </div>
    *@
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 map_div">
        <div id='map'></div>
    </div>

    <div class="col-lg-12 col-md-12 comments-div">
        <div class="success-floating-text">
            <span class="text-success-white">SUCCESS STORIES</span><br>
            <div class="successStories">
                <div class="success-text">
                    <span>"In just 6 months of training with Michael I lost 38 pounds"</span><br>
                </div>
                <div class="success-author">
                    <span>JACK</span><br>
                </div>
                <div class="success-date">
                    <span>February 10th, 2019</span><br>
                </div>
            </div>
            <div class="comment-seperator"></div>
            <div class="successStories">
                <div class="success-text">
                    <span>""Reaching my goal of 22% body fat was so easy with Michael""</span><br>
                </div>
                <div class="success-author">
                    <span>CARRIE</span><br>
                </div>
                <div class="success-date">
                    <span>February 10, 2019</span><br>
                </div>
            </div>
            <div class="comment-seperator"></div>
            <div class="successStories">
                <div class="success-text">
                    <span>I crossed the finish line on my first marathon"</span><br>
                </div>
                <div class="success-author">
                    <span>IRIS</span><br>
                </div>
                <div class="success-date">
                    <span>March 10th, 2019</span><br>
                </div>
            </div>
        </div>
        <img class="success-image" src="https://static.wixstatic.com/media/ebb861_2fd073a8f7834e398f6461e0629ee10f~mv2_d_6141_4098_s_4_2.jpg/v1/fill/w_1905,h_713,al_c,q_85,usm_0.66_1.00_0.01/ebb861_2fd073a8f7834e398f6461e0629ee10f~mv2_d_6141_4098_s_4_2.webp">
    </div>

    <div class="col-lg-12 col-md-12 contact-row">
        <div class="col-lg-4 col-md-2 col-sm-1 about-us-left">

        </div>


        <div class="col-lg-2 col-md-4 col-sm-5 about-us-left">
            <span class="text-nedshape-white">nedshape</span><br>

            <div class="contact-div">
                <span>500 Terry Francois&nbsp;Street</span><br>
                <span class="address-text">San Francisco, CA&nbsp;94158</span><br>
            </div>

            <div class="contact-div">
                <span>Tel: 123-456-7890</span><br>
                <span class="contact-text">Fax: 123-456-7890 </span><br>
            </div>

            <div class="site-div">
                <a class="site-address" data-auto-recognition="true" data-content="info@mysite.com" href="mailto:info@mysite.com" data-type="mail">info@mysite.com</a>
            </div>

            <div class="social-buttons">
                <button type="button" class="social-button btn btn-secondary">
                    <a href="http://www.facebook.com/nedshape" data-content="http://www.facebook.com/nedshape">
                        <div>
                            <img class="social-image" src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_19,h_19,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                        </div>
                    </a>
                </button>
                <button type="button" class="social-button btn btn-secondary">
                    <a href="http://www.twitter.com/nedshape" data-content="http://www.twitter.com/nedshape">
                        <div>
                            <img class="social-image" src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_19,h_19,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                        </div>
                    </a>
                </button>
                <button type="button" class="social-button btn btn-secondary">
                    <a href="http://youtube.com/user/nedshape" data-content="http://youtube.com/user/nedshape">
                        <div>
                            <img class="social-image" src="https://static.wixstatic.com/media/203dcdc2ac8b48de89313f90d2a4cda1.png/v1/fill/w_18,h_19,al_c,q_80,usm_0.66_1.00_0.01/203dcdc2ac8b48de89313f90d2a4cda1.webp">
                        </div>
                    </a>
                </button>
                <button type="button" class="social-button btn btn-secondary">
                    <a href="http://instagram.com/nedshape" data-content="http://instagram.com/nedshape">
                        <div>
                            <img class="social-image" src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_19,h_19,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                        </div>
                    </a>
                </button>
            </div>
        </div>


        <div class="col-lg-2 col-md-4 col-sm-6   about-us-right">
            <span class="text-nedshape-white">GET IN TOUCH</span>

            <form class="contact-form">
                <div class="contact-form">
                    <input type="name" class="form-control" placeholder="Name">
                </div>
                <div class="contact-form">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="contact-form">
                    <input type="phone" class="form-control" placeholder="Phone">
                </div>
                <div class="contact-form">
                    <input type="Message" class="form-control form-message" placeholder="Message"><br>

                    <button type="submit" class="btn btn-primary form-submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-12">
        <h4 class="text-banner-bottom">

            <form class="join-us-form">
                JOIN US ON MOBILE!
                <input class="country-code" placeholder="+27" aria-label="+27" type="tel" pattern="^[+]\d{1,4}$|^\d{1,4}$">
                <input class="phone-number" type="tel" placeholder="Phone Number">
                <button class="send-button" type="submit">Send</button>
            </form>
        </h4>

    </div>

</body>







