

<div class="gyms">

    <div class="gym-list">

        <p style="border-bottom: 1px solid #274e13;">
            <strong>Gym Search</strong>
        </p>

        <p>
            <input type="text" name="GymSearch" value="" placeholder="Search for a gym here" />
        </p>

    </div>

    <div class="gym-details">

        <p style="border-bottom: 1px solid #274e13;">
            <strong>Gym Details & Services</strong>
        </p>


    </div>

    <div class="clear"></div>

</div>
