

<div class="none">

    <div id="auto-logout" class="auto-logout">

        <p>
            DA will log you out in:
        </p>

        <span data-timer-tick="1" style="font-weight: bold;"></span>

        <div class="actions">

            <a href="@Url.Action( "LogOff", "Account" )">
                Logout
            </a>

            <span style="padding: 0 10px;">/</span>

            <a data-continue="1">Continue</a>
        </div>

    </div>

</div>

<span data-renew-tick="1" style="font-weight: bold;"></span>