<div class="title">Request action failed</div>

<div class="message">
    <div class="message-warn">
        <p style="margin-bottom: 0; border-bottom: 1px dashed #fff;">
            The requested action failed, please try again.
        </p>

        @if ( ViewBag.Message != null )
        {
            <p style="margin: 10px 0; font-style: italic;">
                @Html.Raw( ViewBag.Message )
            </p>
        }

        <p style="margin-bottom: 0;">
            <a onclick="NS.Sticky.Hide();">Close</a>
        </p>
    </div>
</div>
