<div id="modal" class="modal">

    <div class="modalBackground"></div>

    <div class="modalContainer">

        <div id="modalContent" class="modalContent">

            <div id="modalTitle" class="modalTop">

                <fieldset>
                    <legend align="center">
                        <span id="modal-title"></span>
                        <a id="modalClose" class="modalClose" onclick="NS.Modal.Close();"><span>x</span></a>
                    </legend>
                </fieldset>

            </div>

            <div class="clear"></div>

            <div id="modal-body" class="modalBody">



            </div>

            <div id="btns" class="btns">

                <span>
                    <input id="btnConfirm" type="submit" value="Submit" class="btn" onclick="return NS.Validation.Validate($(this));" />
                </span>

                <span class="m-spacer" style="padding: 0 5px;">/</span>
                
                <a class="m-close" onclick="NS.Modal.Close();">Cancel</a>

            </div>

        </div>

    </div>

</div>