

@using NedShape.Core.Models;
@using NedShape.Core.Enums;

@{
    string title = ( ViewBag.Title != null ) ? ( string ) ViewBag.Title : string.Empty;
    List <NotificationModel> notifications = ( Session[ "Notifications" ] != null ) ? ( List<NotificationModel> ) Session[ "Notifications" ] : new List<NotificationModel>();

    foreach ( NotificationModel notification in notifications )
    {
        <div class="notification @(!Request.IsAuthenticated ? "not-logged-in" : "") message-@notification.Type.GetStringValue().ToLower() @(title.ToLower().Replace( " ", "-" ))">
            @Html.Raw( notification.Message )
        </div>
    }

    Session[ "Notifications" ] = null;
}