

<div id="sticky-one" class="sticky-one logged-in">

    <div class="sticky-frame">

        <strong id="sticky-title" class="sticky-title"></strong>

        <div id="sticky-data" class="sticky-data"></div>

    </div>

</div>